[submodule "spec"]
	path = spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-mister-cocktail-specs.git
[submodule "app/views/spec"]
	path = app/views/spec
	url = https://github.com/lewagon/fullstack-challenges-04-Rails-mister-cocktail-specs.git
