<div class="banner" style="background: url('https://c2.staticflickr.com/6/5333/7050741005_b821de817b_b.jpg') fixed;">
  <div class="banner-content">
    <h1> Stirred </h1>
    <h3> View, add and make your favorite cocktails! </h3>
    <br>
    <%= link_to "Browse", cocktails_path, class: "btn btn-primary" %>
    <br>
    <br>
    <%= link_to "Add a new cocktail!", new_cocktail_path, class: "btn btn-primary" %>
    <br>
    <br>
  </div>
</div>
