.container {
  text-align: center;
  background-image: url("http://res.cloudinary.com/dvcylwwvz/image/upload/v1464969262/IMG_0233_zorrma.jpg");
  width: 100vw;
  height: 100vh;
  color: white;
}

.container a {
  text-decoration: none;
  color: white;
}
